.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 200px;
}

.squircle {
  height: 60px;
  background: #4f46e5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  /* squircle effect */
  border-radius: 22px;
}