.container {
    display:flex;
    justify-content: center;
    min-height: 100vh;
    background: repeating-linear-gradient(
        135deg,
        rgb(20,20,20),
        rgb(20,20,20) 30px,
        rgb(45,45,45) 30px,
        rgb(45,45,45) 60px
    );

    /* Drop shadow */
    box-shadow: inset 0 0 200px rgba(0,0,0, 0.8);
    margin: 0px;

}

.main {
    width: 500px;
    height:100vh;
    background-color: rgb(20,20,20);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    position: relative;

}

.logo {
    display:flex; 
    flex-direction: column;
    color:white;
    /* temp, move title with logo */
    width:30%;
    height: auto;
    align-items:center;

    /* for spacing */
    margin-bottom:0.5rem;
}

.content {
  width: 100%;
  justify-content: center; /* center content vertically in its own space */
}

.timer {
    display: flex;
    width: 530px;
    justify-content:center;
    background-color:rgb(20, 20, 20);

    box-shadow: 0 0 60px rgba(60, 60, 60, 0.6);
}