.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom:15px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin:15px;
}
