.menu {
  /* This is the vertical column */
  height: 100vh;
  background-color:rgb(20, 20, 20);

  /* Drop shadow */
  box-shadow: 0 0 60px rgba(60, 60, 60, 0.6), inset 0 0 15px rgba(60,60,60,0.6);
}

.menuInteractable {
  /* This is a subsectinon of the vertical column */
  margin-left: auto;
  margin-right: auto;
  color: rgb(40,40,40);
  display:flex;
  flex-direction: column;
  align-items:center;
  gap: 50px;
  justify-content:center;
  color: white;
}

.menu.active {
  display: flex;

}

.centerMain {
  height: 400px;
  width: 200px;
}

.buttonBox {
  display: none;
}

.buttonBox.active {
  display: flex;
}

.inputBox {
  display:flex;
  flex-direction: horizontal;
}

.inputBox p {
  margin: 0;
  margin-right:10px;
}
