.menu {
  height: 100vh;
  background-color:lightgray;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  gap: 50px;
  /* Add menu-specific styles here */
}

.menu.active {
  display: flex;

}

.centerMain {
  height: 400px;
  width: 200px;
}

.buttonBox {
}

.inputBox {
  display:flex;
  flex-direction: horizontal;
}

.inputBox p {
  margin: 0;
  margin-right:10px;
}
